ここでは<b>テスト</b>としてcsvファイルを読み込んで簡単な統計計算を試みてみる

In [1]:
import numpy as np
import pandas as pd

# csv fileを読み込む
df = pd.read_csv('../measure/example_v0.csv', index_col='number')

np.set_printoptions(precision=2, suppress=True)

# df の最初 10行を表示してみる
df.head(10)

        temperature  humidity
number
1              24.7        27
2              24.6        28
3              24.6        28
4              24.6        28
5              24.7        27
6              24.7        30
7              24.7        29
8              24.7        29
9              24.7        29
10             24.8        39

25回分の測定結果（温度と湿度）をそれぞれ独立にarrayにつめてみましょう。
まずは温度です。

In [2]:
temperature=np.array(df['temperature'])[:]
#temperature=temperature.round(1)
temperature

array([24.7, 24.6, 24.6, 24.6, 24.7, 24.7, 24.7, 24.7, 24.7, 24.8, 24.9,
       24.9, 24.9, 24.9, 24.9, 24.9, 24.9, 24.9, 24.9, 24.9, 24.9, 24.9,
       24.9, 24.9, 24.9])

同様に，湿度も詰めてみましょう。

In [3]:
humidity=np.array(df['humidity'])[:]
#humidity=humidity.round(1)
humidity

array([27, 28, 28, 28, 27, 30, 29, 29, 29, 39, 39, 38, 36, 35, 34, 33, 32,
       32, 32, 31, 31, 30, 30, 30, 30], dtype=int64)

それぞれの平均値を見てみます。
まずは温度の平均値。

In [4]:
np.mean(temperature)

24.812

湿度の平均値

In [5]:
np.mean(humidity)

31.48

それぞれ，小数点以下１桁にして表示すると。

In [6]:
"{:3.1F}".format(np.mean(temperature)), "{:3.1F}".format(np.mean(humidity))

('24.8', '31.5')